.header {
  max-width: 1200px;
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #E7E7E7;
  background-color: #ffff;
  position: fixed;
  top: 0;
  z-index: 2;

  &__logo {
    text-decoration: none;
    color: #313037;
  }

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
  }

  &__search {
    max-width: 524px;
    width: 100%;

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__nav {
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 30px;

    &-icon {
      color: #313037;
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    color: #313037;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    font-size: 24px;
    line-height: 24px;
  }

  &__menu {
    display: none;

    @media (max-width: 991px) {

      display: block;
      margin: auto 30px auto auto;
    }
  }

  &__close {
    margin: 0 0 0 auto;
  }
}

.header__nav-icon:hover {
  color: #aac60c;
  transition: color 0.3s ease;
}

.header__nav-icon:active {
  color: #5b6a05;
  transition: color 0.3s ease;
}


@media (max-width: 991px) {
  .header {
    max-width: 991px;
    width: 100%;
  }
}
