.cart {
  max-width: 256px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 auto;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      font-size: 16px;
      line-height: 24px;
      color: #A8A8A8;
    }

    &-value {
      font-size: 16px;
      line-height: 24px;
      color: #313037;
    }

    &-total {
      font-family: 'Bebas Neue', sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 40px;
      line-height: 60px;
      color: #313037;
    }
  }

  &__button {
    width: 100%;
    background-color: #313037;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #A8A8A8;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }
}
